/* CSS RESETS */
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margins */
body,
h1,
h2,
h3,
h4,
p {
  margin: 0;
}

/* Remove list styles on ul, ol elements */
ul,
ol {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove links decoration*/
a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}

/* NAV */
.nav-links-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  font-family:'Karla', sans-serif;
  font-weight: bold;
  padding-left: 16rem;
  padding-right: 16rem;
}

.hamburger-menu {
  display: none;
}

/* HEADER */
header {
  width: 100%;
  background-color: white;
}

/* HERO */
.title {
  grid-column: 1;
  grid-row: 1;
  color: #F4CE14;
  font-family: 'Markazi Text', serif;
  font-weight: 500;
  font-size: 64px;
  line-height: 60px;
}

.subtitle {
  grid-column: 1;
  grid-row: 2;
  color: white;
  font-family: 'Markazi Text', serif;
  margin-top: -10px;
  font-weight: 400;
  font-size: 40px;
}

.description {
  grid-column: 1;
  grid-row: 3;
  color: white;
  font-family: 'Karla', sans-serif;
  margin-top: 20px;
  font-weight: 700;
  font-size: 20px;
  width: 17.5rem;
}

.button {
  grid-column: 1;
  grid-row: 4;
  background-color: #F4CE14;
  font-family: 'Karla', sans-serif;
  margin-top: 20px;
  font-weight: 700;
  font-size: 20px;
  border: none;
  height: 60px;
  width: 200px;
  border-radius: 16px;
}

.img-header {
  grid-column: 2;
  grid-row: 1 / 6;
  width: 20rem;
  height: 20rem;
  object-fit: cover;
  border-radius: 16px;
}
.hero {
  background-color: #495E57;
  padding: 2rem 16rem 2rem 16rem;
  display: grid;
  grid-template-columns:  repeat(1, 1fr);
  column-gap: 10rem;
  grid-template-rows: auto;
}

/* SPECIALS */
.specials {
  padding-top: 5rem;
}

/* FOOTER */
footer {
  width: 100%;
}

.footer-container {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
}

.footer-img {
  width: 150px;
  grid-column: 2 / span 2;
}

.grid-item-nav {
  grid-column: 4 / span 2;
}

.grid-item-contact {
  grid-column: 6 / span 2;
}

.grid-item-social {
  grid-column: 8 / span 2;
}

/* MEDIA QUERIES */
@media (max-width: 600px) {

  /* NAV */
  .nav-links-container {
    display: none;
  }

  .hamburger-menu {
    display: block;
    margin: 28px 0 20px 38px;
  }

  /* FOOTER */
  .footer-container {
    grid-template-columns: repeat(2, 1fr);
  }

  .footer-img {
    display: none;
  }

  .grid-item-nav {
    grid-column: 1;
  }

  .grid-item-contact {
    grid-column: 1;
  }

  .grid-item-social {
    grid-column: 1;
  }
}