/* CSS RESETS */
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margins */
body,
h1,
h2,
h3,
h4,
p {
  margin: 0;
}

/* Remove list styles on ul, ol elements */
ul,
ol {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove links decoration*/
a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}

/* NAV */
.nav-links-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  font-family:'Karla', sans-serif;
  font-weight: bold;
  padding-left: 16rem;
  padding-right: 17rem;
}

.hamburger-menu {
  display: none;
}

/* HEADER */
header {
  width: 100%;
  background-color: white;
}

/* HERO */
.title {
  grid-column: 1;
  grid-row: 1;
  color: #F4CE14;
  font-family: 'Markazi Text', serif;
  font-weight: 500;
  font-size: 64px;
  line-height: 60px;
}

.subtitle {
  grid-column: 1;
  grid-row: 2;
  color: white;
  font-family: 'Markazi Text', serif;
  margin-top: -10px;
  font-weight: 400;
  font-size: 40px;
}

.description {
  grid-column: 1;
  grid-row: 3;
  color: white;
  font-family: 'Karla', sans-serif;
  margin-top: 20px;
  font-weight: 700;
  font-size: 20px;
  width: 17.5rem;
}

.button {
  grid-column: 1;
  grid-row: 4;
  background-color: #F4CE14;
  font-family: 'Karla', sans-serif;
  margin-top: 18px;
  font-weight: 700;
  font-size: 20px;
  border: none;
  height: 60px;
  width: 200px;
  border-radius: 16px;
}

.img-header {
  grid-column: 2;
  grid-row: 1 / 6;
  width: 20rem;
  height: 20rem;
  object-fit: cover;
  border-radius: 16px;
}
.hero {
  background-color: #495E57;
  padding: 2rem 16rem 2rem 16rem;
  display: grid;
  grid-template-columns:  repeat(1, 1fr);
  column-gap: 10rem;
  grid-template-rows: auto;
}

/* SPECIALS */
.specials {
  padding: 5rem 16rem 3rem 16rem;
  display: flex;
  flex-direction: column;
}

.specials-top {
  display: flex;
  justify-content: space-between;
  padding-bottom: 3rem;
}

.specials-top h2 {
  font-size: 64px;
  font-family: 'Markazi Text', serif;
  font-weight: 500;
  color: #495E57;
}

.specials-top button {
  border: none;
  height: 60px;
  width: 200px;
  border-radius: 16px;
  background-color: #F4CE14;
  font-family: 'Karla', sans-serif;
  font-weight: 700;
  font-size: 18px;
}

.specials-cards {
  display: flex;
  justify-content: space-between;
}

.specials-card {
  background-color: #EDEFEE;
  width: 260px;
  border-radius: 16px 16px 0 0;
}

.specials-card img {
  width: 260px;
  height: 180px;
  border: 1px solid black;
  border-radius: 16px 16px 0 0;
}

.specials-description {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  padding: 1rem 1rem 2rem 1rem;
}

.dish-name {
  grid-column: 1;
  font-family: 'Markazi Text', serif;
  font-weight: 500;
  font-size: 24px;
  padding-bottom: 1rem;
}

.dish-price {
  grid-column: 2;
  justify-self: end;
  font-family: 'Karla', sans-serif;
  font-weight: 700;
  font-size: 16px;
  color: #EE9972;
}

.dish-description {
  grid-column: 1 / 3;
  font-family: 'Karla', sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #495E57;
  padding-bottom: 1rem;
}

.dish-order {
  grid-column: 1 / 3 ;
  font-family: 'Karla', sans-serif;
  font-weight: 700;
  font-size: 16px;
}

/* CUSTOMERSAY */
.testimonials {
  background-color: #495E57;
  text-align: center;
  padding: 6rem 16rem 8rem 16rem;
}

.testimonials h2 {
  color: #F4CE14;
  font-family: 'Markazi Text', serif;
  font-weight: 400;
  font-size: 36px;
  padding-bottom: 4rem;
}

.rowTestimonials {
  display: flex;
  justify-content: space-around;

}

.cardTestimonials {
  background-color: white;
  width: 200px;
  padding: 1rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(1, 1fr)
}

.test-img {
  grid-column: 1;
  grid-row: 2;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  object-fit: cover;
}

.test-title {
  grid-column: 1;
  grid-row: 1;
  font-family: 'Karla', sans-serif;
  font-weight: 700;
  font-size: 14px;
  padding-bottom: 1rem;
}

.test-name {
  grid-column: 2;
  grid-row: 2;
  place-self: center;
  font-family: 'Karla', sans-serif;
  font-weight: 700;
  font-size: 14px;
}

.test-review {
  grid-column: 1;
  grid-row: 3;
  font-family: 'Karla', sans-serif;
  font-weight: 500;
  font-size: 14px;
}

/* CHICAGO */
.chicago {
  padding: 6rem 16rem 8rem 16rem;
  color: #495E57;
  display: flex;
}

.chicago-column {
  padding-right: 20rem;
}

.chicago-column h1 {
  font-family: 'Markazi Text', serif;
  font-weight: 500;
  font-size: 64px;
}

.chicago-column h2 {
  font-family: 'Markazi Text', serif;
  font-weight: 400;
  font-size: 40px;
  margin-top: -1rem;
  margin-bottom: 2rem;
}

.chicago-column p {
  font-family: 'Karla', sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.5rem;
  text-align: justify;
}

.chicago-img {
  position: relative;
  top: 0;
  left: 0;
}

.img2 {
  position: absolute;
  top: 100px;
  left: -180px;
}

.img1 {
  position: relative;
  top: 0;
  left: 0;
}

.chicago-img img {
  width: 272px;
  height: 340px;
  object-fit: cover;
  object-position: 90%;
}

/* FOOTER */
footer {
  background-color: #495E57;
  padding: 5rem 16rem 5rem 16rem;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  font-family: 'Karla', sans-serif;
  font-size: 20px;
}

.footer-container p {
  color:#F4CE14;
  font-weight: 700;
  margin-bottom: 1rem;
}

.footer-container address {
  color: white;
  font-weight: 500;
}

.footer-logo {
  width: 10rem;
  background-color: white;
  padding: 1rem;
}

.footer-container li {
  margin-bottom: 0.5rem;
}

/* BOOKING JUMBOTRON */
.booking-jumbotron {
  background-color: #495E57;
  padding: 3rem 16rem 5rem 16rem;
}

.booking-jumbotron h1 {
  font-family: 'Markazi Text', serif;
  font-weight: 500;
  font-size: 64px;
  color: #F4CE14;
}

.booking-jumbotron h2 {
  font-family: 'Markazi Text', serif;
  font-weight: 400;
  font-size: 40px;
  color: white;
  margin-bottom: 4rem;
  margin-top: -1rem;
}

.booking-jumbotron h3 {
  font-family: 'Markazi Text', serif;
  font-weight: 400;
  font-size: 40px;
  color: #EE9972;
  text-align: center;
  padding-bottom: 2rem;
}

.booking-jumbotron-images {
  display: flex;
  justify-content: space-between;
}

.rest1, .rest2 {
  width: 380px;
  height: 380px;
  object-fit: cover;
}

/* BOOKING FORM */
.jumbotron-title {
  text-align: center;
  font-family: 'Markazi Text', serif;
  font-weight: 400;
  font-size: 40px;
  color: #495E57;
  padding-top: 3rem;
}

.booking-form {
  padding: 3rem 16rem 5rem 16rem;
}

form {
  display: grid;
  max-width: 200px;
  gap: 20px;
}

label {
  font-family: 'Karla', sans-serif;
  font-size: 18px;
  color: #495E57;
  font-weight: 800;
}

input, select {
  width: 300px;
  height: 50px;
  border-radius: 8px;
  border: none;
  background-color: #EDEFEE;
  font-family: 'Karla', sans-serif;
  font-size: 18px;
  color: #495E57;
  padding: 0.5rem;
}

input:hover, select:hover {
  cursor: pointer;
}

.submit-btn {
  background-color: #495E57;
  color: white;
}

.submit-btn:hover {
  transform: scale(0.95);
  transition-duration: 200ms;
  background-color: hsla(50, 91%, 52%, 0.925);
  color: black;
}

/* CONFIRMED BOOKING */
.confirmation-page {
  padding: 5rem 16rem 5rem 16rem;
  color: #495E57;
}

.confirmation-page h1 {
  font-family: 'Markazi Text', serif;
  font-weight: 500;
  font-size: 60px;
  padding-bottom: 1rem;
}

.confirmation-page p {
  font-family: 'Karla', sans-serif;
  font-size: 18px;
  font-weight: 500;
}

/* MEDIA QUERIES */
@media (max-width: 600px) {

  /* NAV */
  .nav-links-container {
    display: none;
  }

  .hamburger-menu {
    display: block;
    margin: 28px 0 20px 38px;
  }

  /* FOOTER */
  .footer-container {
    grid-template-columns: repeat(2, 1fr);
  }

  .footer-img {
    display: none;
  }

  .grid-item-nav {
    grid-column: 1;
  }

  .grid-item-contact {
    grid-column: 1;
  }

  .grid-item-social {
    grid-column: 1;
  }
}